HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Logs ###
*.log
logs/

### Application Properties ###
application-local.yml
application-local.properties

### Security ###
.env
*.p12
*.jks
*.keystore
*.truststore
*.cer
*.crt
*.key
*.pem
/certs/
**/src/main/resources/keystore/
**/src/main/resources/truststore/

### Secrets ###
**/secrets/
**/credentials/
*secret*
*password*
!example.env
!example.properties
